/* Team Cards */

.team-member {
    background-color: $white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
    cursor: pointer;
    margin: auto;
    margin-bottom: 1rem;
    @include media-breakpoint-up(md) {
        width: 250px;
        height: 330px;  
    }
    &:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }
    .description {
        display: none;
    }
    img {
        margin: auto;
        margin-bottom: 14px;
    }
    .name {
        
        color: $dark-text;
        font-weight: 500;
        margin-bottom: 0;
        @include media-breakpoint-up(md) {
            font-size: 20px;
        }
    }
    .position {
        color: $dark-text;
    }
    .btn.btn-outline-secondary {
        &:hover {
            background-color: $white;
        color: $primary-color;
        }
    }
}

.linkedin-icon {
    margin-bottom: 2rem;
    margin-top: 2rem;
    img {
        width: 40px;
        margin-top: 2rem;
    }

}