/* Navbar  */

.navbar-nav {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    a {
        &:hover {
            text-decoration: none;
        }
    }
    .container {
        max-width: 74rem !important;
    }
}