.site-footer-main {
  background-color: $footer-bg;
  color: $medium-text;
  padding-top: $section-padding;
  padding-bottom: $spacer; // Reduced bottom padding as footer-bottom has its own
  border-top: .0625rem solid $dark-border;
  padding-left: 2rem;
  padding-right: 2rem;

  @include media-breakpoint-up(md) {

    .btn {
      max-width: 228px;
    }
  }

  .container {
    max-width: 74rem;
  }

  .footer-title {
    color: $light-text;
    font-weight: 700;
    margin-bottom: $spacer * 1.5;
  }

  .footer-links-title {
    color: $light-text;
    font-weight: 500;
    margin-bottom: $spacer;
  }

  .footer-link {
    color: $medium-text;
    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .form-control {
      background-color: lighten($dark-surface, 5%);
      border-color: $dark-border;
      color: $light-text;
      max-width: 528px;
      &::placeholder {
        color: $medium-text;
      }
    }
    .btn-primary {
      @include button-variant($primary-color, $dark-bg);
    }
  }

  .footer-bottom {
    //background-color: darken($dark-surface, 3%);
   display: flex;
   flex-direction: column;
   margin-top: 4rem;
   justify-content: space-between;
   @include media-breakpoint-up(md) {
flex-direction: row;
   }

    .social-media-icons {
      display: flex;
      gap: 1rem;
      .social-icon {
        @include media-breakpoint-up(md){

          margin-left: $spacer;
        }
        img {
          height: 1.5rem; // Adjust as needed
          opacity: 0.7;
          transition: opacity $transition-base;
        }
        &:hover img {
          opacity: 1;
        }
      }
    }
  }
}